.appTitle{
  color: #2380E2;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 24px;
}

body{
  background-image: url("assets/boxArtCollage.JPG");
  background-color: gray;
}

.outer{
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle{
  display: table-cell;
  vertical-align: middle;
}

.inner{
  margin-left: 10%;
  margin-right: auto;
  width: 800px;
}

.topPanel{
  background-color: #dcdcdc;
  text-align: center;
  padding: 5px;
  margin: 10px;
  margin-bottom: 20px;
  border: 3px solid black;
  border-radius: 63px;
  -webkit-box-shadow: 6px 7px 24px 1px rgba(0,0,0,0.75);
  -moz-box-shadow:    6px 7px 24px 1px rgba(0,0,0,0.75);
  box-shadow:         6px 7px 24px 1px rgba(0,0,0,0.75);
}

.searchForm{
  width: 50%;
}

#searchField{
  width: 60%;
}

.navButton{
  background-color: #a5cbf3;
  margin: 5px;
  -webkit-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.75);
  -moz-box-shadow:    2px 2px 3px 2px rgba(0,0,0,0.75);
  box-shadow:         2px 2px 3px 2px rgba(0,0,0,0.75);
}

.navButton:hover{
  background-color: white;
  color: #2380E2;
}

.searchResult{
  background-color: #dcdcdc;
  width: 30%;
  border: 5px solid black;
  border-radius: 39px;
  padding: 3px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  transition: all .2s ease-in-out;
}

.searchResult:hover{
  cursor: pointer;
  background-color: white;
  transform: scale(1.02);
}

.searchResultText{
  text-align: center;
  font-family: Roboto;
  font-size: 1.5em;
  line-height: 100%;
  text-decoration: none !important;
}

.searchResultTitle{
  font-size: 2em;
  margin: 0px 0px 10px 0px;
  line-height: 100%;
}

.searchResultDate{
  font-style: italic;
}

.boxArtImage{
  border: 3px solid black;
  background-color: white;
  width: 48%;
  height: 48%;
}

.frontBoxArtImage{
  float: left;
}

.backBoxArtImage{
  float: right;
}

.boxArtMessage{
  font-family: 'Press Start 2P', sans-serif;
  padding: 10px;
}

#boxArtNavBar{
  display: block;
}
