<div class='topPanel'>
  <div id="boxArtNavBar">
    <button type="button" class="navButton btn btn-default btn-lg" ng-click="returnToSearchResults()">Return to search results</button>
    <button type="button" class="navButton btn btn-default btn-lg" ng-click="returnToSearch()">New search</button>
    <div class="appTitle">Box Art</div>
  </div>
</div>

<div class="boxArtMessage" ng-show=" ! imagesLoaded">Loading...</div>

<div class="imageContainer" ng-show="imagesLoaded">
  <img class="boxArtImage frontBoxArtImage" ng-src={{frontBoxArtURL}} ng-show="isFrontBoxArtFound">
  <h2 class="boxArtMessage boxArtImage frontBoxArtImage" ng-show=" ! isFrontBoxArtFound">Sorry, front box art not available</h2>

  <img class="boxArtImage backBoxArtImage" ng-src={{backBoxArtURL}} ng-show="isBackBoxArtFound">
  <h2 class="boxArtMessage boxArtImage backBoxArtImage" ng-show=" ! isBackBoxArtFound">Sorry, back box art not available</h2>
</div>
