<div class="outer">
<div class="middle">
<div class="inner">

<div class='topPanel'>
  <div class="appTitle">Welcome to<br>Video Game Box Art Search!</div>
  <form class="form-inline" ng-submit="submit()" ng-controller="SearchCtrl">
    <div class="form-group searchForm">
      <input type="text" ng-model="searchTerm" class="form-control" id="searchField" placeholder="Video Game Title">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>

</div>
</div>
</div>
