<div class='topPanel'>
  <button type="button" class="navButton btn btn-default btn-lg" ng-click="returnToSearch()">New search</button>
  <div class="appTitle">Search Results</div>
</div>

  <div ng-repeat="result in searchResults">
    <div class="searchResult" ng-click="goToSearchResult(result.id)">
      <p class="searchResultText searchResultTitle ">{{result.GameTitle}}</p>
      <p class="searchResultText">{{result.Platform}}</p>
      <p class="searchResultText searchResultDate">{{result.ReleaseDate}}</p>
    </div>
  </div>
